defmodule Matrix.<%= "#{@agent}Supervisor" %> do
  use Supervisor

  def start_link do
    Supervisor.start_link(__MODULE__, [], name: __MODULE__)
  end

  def init(_options) do
    children = [
      worker(<%= @agent %>, [], restart: :transient)
    ]

    supervise(children, strategy: :simple_one_for_one)
  end

  def start_child(name) do
    Supervisor.start_child(__MODULE__, name: name)
  end

end
